/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                  /*prevent callout to copy image, etc when tap to hold*/
    -webkit-text-size-adjust: none;               /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                    /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
}

.navbar {
    user-select: none;
    -webkit-user-select: none;
}

.message-text {
    -webkit-user-select: text;
    user-select: text;
    -webkit-touch-callout: auto;
}

.message-footer {
    padding-bottom: 10px;
}

.message-image {
    margin-bottom: 5px;
}

.fab {
    bottom: 60px !important;
    -webkit-transition: left ease-in-out 0.6s;
    transition: left ease-in-out 0.6s;
}

.fab a {
    width: 40px !important;
    height: 40px !important;
}

.fab-camera {
    left: -100px !important;
}

.fab-gallery {
    left: -155px !important;
    /* left: 55px; */
}

.fab-camera-in {
    left: 15px !important;
}
.fab-gallery-in {
    left: 65px !important;
}

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
         url("../fonts/Framework7Icons-Regular.woff") format("woff"),
         url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
  }

  .f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    text-align: center;
  }

#list-input {
    margin: 0;
}

#list-content {
    margin-top: 0;
}

.sub-list ul li {
    padding-left: 32px !important;
}

.li-strikethrough {
    color: #ccc;
    text-decoration: line-through;
}