Source/platforms/android/.gradle/4.4/fileHashes/fileHashes.bin
Source/platforms/android/.gradle/4.4/fileHashes/fileHashes.lock
Source/platforms/android/.gradle/4.4/taskHistory/taskHistory.bin
Source/platforms/android/.gradle/4.4/taskHistory/taskHistory.lock
Source/platforms/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Source/platforms/android/.idea/workspace.xml
Source/platforms/android/app/release/app-release.apk
